<p id="notice"><%= notice %></p>

<!--<p>
  <b>User:</b>
  <%= @problem.user_id %>
</p> -->

<p>
  <b>Title:</b>
  <%= @problem.title %>
</p>

<p>
  <b>Description:</b>
  <%= @problem.description %>
</p>

<!-- <p>
  <b>Requires skills:</b>
  <%= @problem.requires_skills %>
</p> -->
...put voting form here...<br/>



<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
