<%= form_for(@vote) do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% @solutions = @problem.solutions %>

  <div class="field">
    <%= f.label :solution_id %><br />
	<!-- loop through solutions array -->

	<% @solutions.each do |solution| %>
		 <%= f.radio_button :solution_id, solution.id %><%= solution.value%> <BR>
	<% end %>


    <!--<%= f.radio_button :solution_id, '1234' %> Test2<BR>
	<%= f.radio_button :solution_id, '12345' %> Test3 -->
  </div>
  <!--<div class="field">
    <%= f.label :solution_id %><br />
    <%= f.text_field :solution_id %>
  </div>-->
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
