<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @vote.user_id %>
</p>

<p>
  <b>Solution:</b>
  <%= @vote.solution_id %>
</p>

<p>
  <b>Comment:</b>
  <%= @vote.comment %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
