<!--<p id="notice"><%= notice %></p>-->

<p>
  <b>Problem:</b>
  <%= @vote.solution.problem.title %>
</p>

<p>
  <b>Solution:</b>
  <%= @vote.solution.value %>
</p>

<p>
  <b>Comment:</b>
  <%= @vote.comment %>
</p>


<!--<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %> -->
